@model ResponseModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/adminlte.min.css")">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/lib/toastr/toastr.min.css")">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="m-0 text-dark">Conta digital Ag. @Model.Conta.Agencia - Nº @Model.Conta.Numero - <strong>Saldo: R$@Model.Conta.Saldo.ToString("0.00")</strong></h1>
                        </div>
                        <div class="col-sm-2">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-action="AlterarConta" asp-controller="Conta">Alterar Conta</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/lib/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/js/adminlte.min.js")"></script>
    <script src="@Url.Content("~/lib/toastr/toastr.min.js")"></script>
</body>
</html>
@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    if (Model.Sucesso)
    {
        <script>
            toastr.success('@Model.Mensagem');
        </script>
    }
    else
    {
        <script>
            toastr.error('@Model.Mensagem');
        </script>
    }

}
